{% extends 'base.html' %}

{% block title %}
  Информация о пользователе
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-center">
    <div class="user-profile">
      <h2>Информация о пользователе</h2>

      <h4>Почта: {{ user.email }}</h4>
      <h4>Имя: {{ user.first_name|default:'не указано') }}</h4>
      <h4>Фамилия: {{ user.last_name|default:'не указано' }}</h4>
      <h4>День рождения: {{ user.profile.birthday|default:'не указано' }}</h4>

      {% if user.profile.image %}
        <img src="{{ user.profile.image.url }}"
          alt="{{ user.username }}"
          class="profile-image" />
      {% endif %}

      <h4>Количество попыток сварить кофе: {{ user.profile.coffee_count }}</h4>
    </div>
  </div>
{% endblock %}
